@charset "UTF-8";
@font-face { font-family:"Berlin Sans FB";font-variant:normal;font-style:normal;font-weight:normal;src:url("#FontID0") format(svg)}
.str3 {stroke-width:34.46;stroke-miterlimit:22.9256}
.str4 {stroke:#999999;stroke-width:67.73;stroke-miterlimit:22.9256}
.str2 {stroke:black;stroke-width:20;stroke-miterlimit:22.9256}
.str1 {stroke:black;stroke-width:7.62;stroke-miterlimit:22.9256}
.str0 {stroke:black;stroke-width:20;stroke-miterlimit:22.9256;stroke-dasharray:100.000000 100.000000}
.fil0 {fill:none}
.fil4 {fill:#0A377B}
.fil2 {fill:#999999}
.fil1 {fill:#9E2323}
.fil3 {fill:#B3B3B3}
.fnt0 {font-weight:normal;font-size:1965.29px;font-family:'Berlin Sans FB'}
